<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TFGSportPro"
        tools:targetApi="31">
        <activity
            android:name=".features.f01_Home.fragments.trainingPage.trainingLevels.RoutineExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".features.f01_Home.fragments.trainingPage.trainingLevels.RoutineSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".features.f01_Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".features.f00_Auth.Register.UI.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".features.f0_Splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity después del Splash -->
        <activity
            android:name=".features.f00_Auth.Login.UI.LoginActivity"
            android:theme="@style/Theme.TFGSportPro" />
    </application>

</manifest>